# gitignore template for Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py


# PYcache
**/__pycache__
.virtual_documents

#DS STORE
**/.DS_Store
